p{
    background-color: grey;
    display:inline;
}
a{
    background-color: yellow;
    /* display: block; */
}
ul{
    background-color: blue;
}
ul li{
    background-color: green;
    display: inline;
}